body{
    background-color: var(--base);
    overflow: hidden;
}

body > *{
    margin-top: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color);
    height: 10%;
}

section{
    border: 1px solid red;
    height: 75vh;
}

footer{
    border: 1px solid yellow;
    height: 10%;
}

.header-section{
    display: flex;
    border: 1px solid red;
    width: 30%;
}

header > .logo{
    justify-content: left;
    align-items: center;
}

header > .pageName{
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
header > .menu{
    justify-content: right;
    align-items: center;
}

.menu > i{
    color: white;
    font-size: 4em;
    cursor: pointer;
    z-index: 1;
}

.menuDesplegable{
    position: absolute;
    margin-top: 5px;
    top: 0;
    background-color: #2c2c2c;
    width: 30%;
    height: 85.5vh;
}

.menuDesplegable > .menu-items{
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 2vw;
}

.menuDesplegable > .m > a{
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.menuDesplegable > .logout{
    position: absolute;
    bottom: 5%;
    left: 30%;
    margin-top: 10vh;
    margin-left: 2vw;
}

/*Celular*/
@media (max-width: 639px){
    .header-section{
        width: 50%;
    }
    
    header > .pageName{
        display: none;
    }

    .menuDesplegable{
        width: 40%;
    }

    .menuDesplegable > .m > a{
        font-size: 2.5em;
    }
    
    .menuDesplegable > .logout{
        left: 0%;
    }
}

@media (min-width: 640px){
}

@media (min-width: 768px){

}
@media (min-width: 1024px){

}

/*Computadora*/
@media (min-width: 1280px){

}
@media (min-width: 1536px){
    
}