body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.navDiv {
    position: absolute;
    height: 100%;
    width: 4vw;
    background-color: var(--base);
    display: flex;
    flex-direction: column;

}

.brandIconNav,
.button {
    height: 3.5vw;
    margin-top: 0.5vw;
    margin-left: 0.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
}

.disabled {
    display: none;
}

.inactive {
    width: 3.5vw;
    border-radius: 50%;
    background-color: var(--color);
}

.active {
    width: 3.5vw;
    border-radius: 50%;
    background-color: var(--highlight);
}

.display {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 96%;
    background-color: var(--baseLight);
}

.welcomeText {
    position: absolute;
    font-size: 5vh;
    width: 100vw;
    top: 45vh;
    text-align: center;
}

.titleText {
    position: absolute;
    font-size: 5vh;
    top: 5vh;
    left: 10vh;
    color: white;
}

.addButton {
    position: absolute;
    height: 7.5vh;
    width: 7.5vw;
    top: 5vh;
    right: 5vh;
    background-color: var(--highlight);
    border-radius: 2vh;
    font-size: 3vh;
}

.addButton:hover{
    cursor: pointer;
}

.filterText {
    position: absolute;
    height: 3vh;
    width: 20vw;
    top: 20vh;
    left: 7.5vw;
    border-radius: 2vh;
    text-indent: 5%;
    background-color: rgb(200, 200, 200);
}

.filterText:focus {
    outline: none;
    background-color: white;
}

.tablePlaceholder{
    position: absolute;
    height: 70vh;
    width: 90vw;
    left: 3vw;
    bottom: 5vh;
    background-color: rgb(150, 150, 150);
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}