body{
    background-color: var(--base);
}

body > *{
    margin: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color);
    height: 10vh;
}

section{
    border: 1px solid red;
    height: 7vh;
}

footer{
    border: 1px solid yellow;
    height: 10vh;
}

.header-section{
    border: 1px solid red;
    width: 30%;
}



/*Celular*/
@media (min-width: 475px){
 
}
@media (min-width: 640px){

}
@media (min-width: 768px){

}
@media (min-width: 1024px){

}

/*Computadora*/
@media (min-width: 1280px){

}
@media (min-width: 1536px){

}