@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');

:root{
    --font:'Ysabeau Office', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

@media (min-width: 475px){

}
@media (min-width: 640px){

}
@media (min-width: 768px){

}
@media (min-width: 1024px){

}
@media (min-width: 1280px){

}
@media (min-width: 1536px){

}