* {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--base);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInContainer {
    background: linear-gradient(var(--base) 0%, var(--color) 50%);
    height: 70%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
}

.iconImage {
    width: 35%;
    height: 20%;
    margin-top: 10%;
}

.title {
    height: 10%;
    color: white;
    font-size: 4vh;
    text-align: center;
    text-shadow: 0 0 10px white;
    user-select: none;
}

input[type=Text] {
    height: 7.5%;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    background-color: var(--base);
    color: white;
    font-size: 2vh;
}

input[type=Text]:focus {
    outline: var(--highlight) solid;
    box-shadow: 0 0 15px var(--base);
}

input[type=button] {
    height: 7.5%;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    background-color: var(--highlight);
    color: white;
    box-shadow: 0 0 15px var(--base);
    font-size: 2vh;
    animation: ease-in-out;
}

input[type=button]:hover {
    cursor: pointer;
}

input[type=button]:active {
    animation: buttonClick 0.15s ease-in-out;
}

@keyframes buttonClick {
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(98%);
    }
    100%{
        transform: scale(100%);
    }
}