html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--base);
    overflow-x: hidden;
    -ms-overflow-style: none;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    max-height: 12%;
    background-color: var(--color);
    padding: 0 .5rem;
    border-bottom: 2px solid var(--base);
    top: 0;
    left: 0;
    z-index: 2;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header div h1 {
    text-align: center;
    line-height: 70px;
    font-weight: 600;
    white-space: nowrap;
}

header div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: start;
}

header div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: end;
}

header div i {
    font-size: 3rem;
    cursor: pointer;
    z-index: 4;
    padding: 10px;
}

header div i:hover {
    font-size: 3.1rem;
}

header div img {
    height: 100%;
}

#sidebar {
    z-index: 3;
    top: 0;
    right: -100%;
    position: fixed;
    height: 100%;
    background-color: var(--baseDark);
    max-width: 300px;
    padding: 0 1rem;
    width: 100%;
    transition: 0.25s ease-in-out;
}

#sidebar > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#sidebar i {
    line-height: 72px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--baseDark);
}

.bx-x{
    line-height: 72px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--highlight);
}

.bx-x:hover{
    font-size: 3.1rem;
}

.fixed{
    position: fixed;
}

#sidebar.opened {
    right: 0%;
    transition: 0.25s ease-in-out;
}


#sidebar a, #sidebar > div {
    color: var(--highlight);
    text-decoration: none;
    font-size: 1.7rem;
    margin-bottom: .7rem;
    transition: .2s ease;
    display: block;
}

.radioBtnEstados{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.radioBtnEstados > div{
    color: greenyellow;
    font-size: 1.1rem;
}

.checked{
    color: greenyellow;
}
.notChecked{
    color: red;
}


#sidebar a:hover {
    transform: translateX(5px);
}

.blank{
    min-height: 70vh;
    z-index: -1;
    position: relative;
    transition: height 1s ease;
}


section{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section::-webkit-scrollbar {
    display: none;
}

section > div {
    height: 20vh;
    width: 45%;
    margin: 1%;
    background-color: var(--baseLight);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}


section > div > div{
    position: absolute;
    height: 20vh;
    width: 100%;
    background-color: var(--baseLighter);
    transition: 0.2s ease-in-out;
    z-index: -1;
}

section > div > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #303030;
    bottom: 0;
    position: static;
}
footer > div{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 30px;
    box-shadow: inset 0 0 10px #303030;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.884);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(240, 248, 255, 0.637);
}

/*Celular*/
@media (max-width: 700px) {
    header div:nth-child(2) {
        display: none;
    }
}