* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    border: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.qrContainer {
    position: absolute;
    background-color: var(--baseLighter);
    height: 70vh;
    aspect-ratio: 1/1;
    border-radius: 10px;
    top: 8vh;
    left: 8vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticketInfo {
    position: absolute;
    background-color: var(--baseLighter);
    height: 80vh;
    aspect-ratio: 1.20/1;
    border-radius: 10px;
    top: 8vh;
    right: 8vh;
    padding: 2.5vh;
}

.confirmButton {
    position: absolute;
    background-color: var(--baseLighter);
    height: 10vh;
    width: 70vh;
    border-radius: 10px;
    bottom: 7vh;
    left: 8vh;
    font-weight: bolder;
    font-size: xx-large;
}


