* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    border: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    position: absolute;
    display: flex;
    width: 90vw;
    height: 90vh;
    background-color: var(--baseLight);
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.inputContainer {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.matricula {
    width: 28%;
    height: 8%;
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    justify-content: center;
}

.qrContainer {
    position: relative;
    background-color: var(--baseLighter);
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrContainer:hover{
    cursor: pointer;
}

 .ticketInfo {
    position: relative;
    background-color: var(--baseLighter);
    height: 80%;
    aspect-ratio: 1.20/1;
    border-radius: 10px;
    padding: 2.5vh;
} 

.ticketInfo:focus{
    outline: none;
}

.ticketInfo:hover{
    cursor: default;
}



.preview{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.confirmButton {
    position: relative;
    background-color: var(--baseLighter);
    height: 10vh;
    width: 70%;
    border-radius: 10px;
    font-weight: bolder;
    font-size: xx-large;
}

.confirmButton:hover{
    cursor: pointer;
}


