* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    border: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.qrContainer {
    position: absolute;
    background-color: var(--baseLighter);
    height: 70vh;
    aspect-ratio: 1/1;
    border-radius: 10px;
    top: 8vh;
    left: 8vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.ticketInfo {
    position: absolute;
    background-color: var(--baseLighter);
    height: 80vh;
    width: 50vw;
    border-radius: 10px;
    top: 8vh;
    right: 8vh;
    padding: 2.5vh;
}

.confirmButton {
    position: absolute;
    background-color: var(--baseLighter);
    height: 10vh;
    width: 70vh;
    border-radius: 10px;
    bottom: 7vh;
    left: 8vh;
    font-weight: bolder;
    font-size: xx-large;
}

.confirmButton:hover{
    cursor: pointer;
}

.confirmButton:active{
    transform: scale(98%);
}

.hamMenu {
    position: absolute;
    height: 2.5vh;
    width: 2.5vh;
    top: 0.25vh;
    right: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.sideMenu {
    position: absolute;
    height: 15.1vh;
    width: 20vw;
    top: 0;
    background-color: var(--baseDark);
    transition: 0.5s;
    z-index: 2;
    border-radius: 0 0 0 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bx-menu{
    color: var(--baseLighter);
    font-size: 3.5em;
    cursor: pointer;
    transition: 0.5s;
}

.itemSideMenu {
    position: relative;
    background-color: var(--baseDark);
    height: 7.5vh;
    border-radius: 5px;
    top: 10vh;
    left: 1vw;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    transition: 0.25s;
    color: var(--highlight);
    text-decoration: none;
}

.itemSideMenu:hover {
    cursor: pointer;
    left: 1.5vw;
}