* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
}

body > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 600px;
    min-height: 800px;
    box-shadow: 0px 0px 10px -1px black;
    border-radius: 10px;
}

body > form > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

body > form > div > i{
    font-size: 5em;
    color: var(--highlight);
    filter: drop-shadow(0px 0px 5px black);
}


body > form > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

body > form > div > div:nth-child(5){
    border-bottom: 1px solid white;
}

body > form > div:nth-child(4) > div{
    border-top: none;
}

body > form > div > div > input{
    padding: 10px;
    width: 100%;
    min-width: 150px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border: 2px solid var(--color);
    color: white;
    font-size: 1.8em;
}

body > form > div > div > select{
    padding: 10px;
    width: 100%;
    min-width: 150px;
    background-color: var(--base);
    border: none;
    border-radius: 5px;
    border: 2px solid var(--color);
    color: white;
    font-size: 1.8em;
    background: url("../source/arrow_down.png") no-repeat right;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

select > option{
    background-color: var(--base);
    color: white;
}

body > form > div:last-child > div > input{
    padding: 10px;
    min-width: 125px;
    width: 30%;
    cursor: pointer;
}

body > form > div > div > input:hover, input:focus{
    box-shadow: 0px 0px 10px -1px black;
}


body > form > div > h1{
    color: var(--highlight);
    font-size: 5em;
    min-width: 12vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 0px black, 0 0 0.1em var(--baseDark), 0 0 0.2em black;
}

body > form > div > div > h3{
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.7em;
    display: flex;
    align-items: center;
}


@media (max-width: 350px) {
    body > form > div > h1{
        font-size: 4em;
    }
}

@media (max-width: 270px) {
    body > form > div > h1{
        font-size: 3em;
    }
}