.menuIcon{
    font-size: 4em;
    position: fixed;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: white;
    z-index: 10;
    transition: color .2s ease-in-out;
}

.menuIcon > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenu{
    position: fixed;
    top: 0%;
    right: -400px;
    max-width: 400px;
    min-height: 60vh;
    width: 100%;
    background-color: var(--baseDark);
    transition: right .2s ease-in-out;
    z-index: 9;
    border-bottom-left-radius: 10px;
    overflow-y: auto;
}

.sideMenu > div{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideMenu > div > div:nth-child(1){
    display: flex;
    flex-direction: column;

}

.sideMenu > div > div:nth-child(1) > div{
    width: 100%;
    height: 8vh;

}

.sideMenu > div > div:nth-child(1) > a {
    min-height: 6vh;
    text-decoration: none;
    color: var(--highlight);
    font-size: 2em;
    margin: 10px;
    margin-left: 15px;
    transition: all .2s ease-in-out;
    border-radius: 15px;
    box-shadow: 0px 0px 10px -1px black;
    padding: 5px;
    width: 80%;
    display: flex;
    align-items: center;
}

.sideMenu > div > div:nth-child(1) > a:hover{
    margin-left: 30px;
}

.sideMenu > div > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.sideMenu > div > div:nth-child(2) > form {
    text-decoration: none;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    border: 2px solid var(--highlight);
    cursor: pointer;
}
.sideMenu > div > div:nth-child(2) > form > button{
    color: var(--highlight);
    font-size: 2em;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 10px;

}


.sideMenu > div > div:nth-child(2) > form:hover{
    box-shadow: 0px 0px 10px -1px var(--highlight);
}
