* {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body{
    background-image: url(../source/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1{
    min-width: max-content;
}

.logInContainer{
    min-width: 25vw;
    min-height: 70vh;
    box-shadow: 0px 0px 15px -1px black;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.logInContainer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.logInContainer > div:nth-child(2){
    font-size: 2em;
    flex-direction: row;
    height: 20vh;
    align-items: end;
}

.logInContainer > div:nth-child(2) > i{
    font-size: 2em;
    color: var(--baseDark);
    margin: 0;
}

.logInContainer > div:nth-child(2) > h1{
    margin-bottom: 0;
    color: var(--highlight);
    text-shadow:
    0px 0px 0px black,
    0 0 1em black,
    0 0 0.2em black;
}

.es{
    font-size: 1.5em !important;
}

.en{
    font-size: 1.9em !important;
}

.logInContainer > div:nth-child(2) > i:nth-child(1){
    transform:scaleX(-1);
}

.logInContainer > div > *{
    margin: 10px;
}

.logInContainer > div:nth-child(3){
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 10px;
    width: 80%;
}

.logInContainer > div:nth-child(4){
    height: 20vh;
    width: 80%;
    justify-content: end;
}


input[type="text"], input[type="password"]{
    width: 70%;
    height: 4vh;
    background-color: transparent;
    border: 2px solid var(--baseDark);
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    padding: 15px;
    color: white;
}

input[type="submit"]{
    min-height: 4vh;
    background-color: transparent;
    border: 2px solid var(--baseDark);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .1s ease-in-out;
    font-size: 1.2em;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

input[type="submit"]:hover{
    font-size: 1.3em;
    box-shadow: 0px 0px 10px -1px black;
}

input:focus{
    outline: 1px solid var(--highlight);
    animation: focus .8s infinite alternate-reverse;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

@keyframes focus {
    0%{
        outline: 1px solid black;
    }
    100%{
        outline: 1px solid var(--highlight);
    }
}

@media (max-width: 500px) {
    .logInContainer > div:nth-child(2) > i{
        display: none;
    }
}