@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-image: url(../source/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--baseDark);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--color);
    padding: 0 .5rem;
    box-shadow: 0px 0px 10px -1px black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header div h1 {
    text-align: center;
    line-height: 70px;
    font-weight: 600;
    white-space: nowrap;
}

header div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: start;
}

header div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: end;
}

header div i {
    font-size: 3rem;
    cursor: pointer;
    z-index: 4;
}

header div img {
    height: 100%;
}

#sidebar {
    z-index: 3;
    top: 0;
    right: -100%;
    position: fixed;
    height: 100%;
    background-color: var(--baseDark);
    max-width: 300px;
    padding: 0 1rem;
    width: 100%;
    transition: 0.1s ease;
}

#sidebar div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#sidebar i {
    line-height: 72px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--highlight);

}

#sidebar.opened {
    right: 0%;
    transition: 0.3s ease-in-out;
}


#sidebar a {
    color: var(--highlight);
    text-decoration: none;
    font-size: 1.6rem;
    margin-bottom: .7rem;
    transition: .2s ease;
    display: block;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -1px black;
}

#sidebar a:hover {
    transform: translateX(5px);
}

.home {
    height: 100vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuRastreo {
    width: 600px;
    max-width: 90%;
    height: 600px;
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px black;
}

.menuRastreo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.menuRastreo div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menuRastreo div:nth-child(2) {
    align-items: center;
    flex-direction: row;
}

.menuRastreo div:nth-child(2) input {
    width: 100%;
}

.menuRastreo h2 {
    text-align: center;
    font-size: 2.5em;
}

.menuRastreo i {
    font-size: 5em;
}

.menuRastreo i:nth-child(1) {
    transform:scaleX(-1);
}

.menuRastreo label {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.menuRastreo input[type="number"] {
    padding: .7rem;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, .5);
    color: #e0e0e0;
    text-align: center;
}

.menuRastreo input[type="number"]::-webkit-outer-spin-button,
.menuRastreo input[type="number"]::-webkit-inner-spin-button {
    -moz-display: none;
    -webkit-appearance: none;
    display: none;
}

.menuRastreo input[type="submit"] {
    font-size: 1.5rem;
    background-color: #222;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    padding: .7rem 2rem;
    cursor: pointer;
    color: white;
    transition: .2s ease;
}

.menuRastreo input[type="submit"]:hover {
    transform: translateY(-5px);
}

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: var(--colorDark);
    padding: 5rem 1rem;
    gap: 2rem;
}

.aboutUs > .sobreNosotros, .aboutUs > div > .preguntas{
    font-size: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px black;
    padding: .7rem;
    text-align: center;
}


.aboutUs>.textoAbout {
    max-width: 50%;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 100px;
}

.aboutUs>.textoPreguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.1rem;
    gap: 10px;
}

.aboutUs>.textoPreguntas>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30vw;
    text-align: center;
    box-shadow: 0px 0px 10px -1px black;
    border-radius: 10px;
    padding: 15px;
}

.aboutUs>.textoPreguntas>div>*:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    border-bottom: 2px solid white;
    padding: 5px;
    font-size: 1.1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer > *{
    max-width: 33.3%;
    width: 33.3%;
}

footer > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

footer > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > div:nth-child(1) > form{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > div:nth-child(1) > form > *{
    margin: 5px;
}

footer > div:nth-child(1) > form > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: 100%;
    border-bottom: 2px solid var(--color);
}

footer > div:nth-child(1) > form > input[type="text"], input[type="email"]{
    width: 100%;
    height: 4vh;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--color);
    border-radius: 5px;
    text-align: center;
    color: white;
}

footer > div:nth-child(1) > form > textarea{
    width: 100%;
    min-height: 8vh;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--color);
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px;
    resize: none;
}

footer input:focus, footer textarea:focus{
    outline: 1px solid red;
    animation: focus .8s infinite alternate-reverse;
}


footer input:-webkit-autofill,
footer input:-webkit-autofill:focus,
footer textarea:-webkit-autofill,
footer textarea:-webkit-autofill:focus{
    transition: background-color 0s 600000s, color 0s 600000s;
}

footer input[type="submit"]{
    width: 50%;
    min-height: 4vh;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--color);
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

footer input[type="submit"]:hover{
    box-shadow: 0px 0px 10px -1px red;
    font-size: 1.1em;
}

footer > div > form > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 100%;
}

#all {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.animacionInicio {
    position: absolute;
    width: 100%;
    height: calc(100% - 75px);
    top: calc(0% + 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.divInicio {
    background-color: rgba(0, 0, 0, 0.555);
    padding: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px black;
    width: 600px;
    max-width: 90%;
    height: 600px;
    max-height: 90%;
    font-size: 1.6em;
    text-align: center;
}

.divInicio>h1:nth-child(3) {
    font-size: 1.1em;
    text-shadow: 10px 10px 15px -1px black;
}

.divInicio>h1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divInicio>h1:first-child {
    animation: fade 1s ease 0.5s forwards;
}

.divInicio>h1:last-child {
    animation: fade 1s ease 0.75s forwards;
}

.divInicio>img {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    animation: crecer 1.25s ease 0.75s forwards, fade 1s ease 0.75s forwards;
    -webkit-user-drag: none;
    filter: drop-shadow(0px 0px 10px);
}

@keyframes crecer {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(3);
    }
}

@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animar {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

@media (max-width: 700px) {
    header div:nth-child(2) {
        display: none;
    }

    .aboutUs>.textoPreguntas>div {
        width: 80%;
    }

    footer > div:nth-child(3){
        display: none;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer > *{
        margin: 10px;
        max-width: 80%;
        width: 80%;
    }
    footer > div:nth-child(1){
        justify-content: center;
        align-items: center;
    }

    footer > div:nth-child(1) > form {
        width: 80%;
    }
}

@media (max-width: 380px) {
    .menuRastreo i{
        display: none;
    }
}


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 30px;
    box-shadow: inset 0 0 10px #303030;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.884);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(240, 248, 255, 0.637);
}